.watermarkSidebar{
border-radius: 12px;
overflow: hidden;
margin: 20px  auto ;
padding: 5px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color: #0091c0b3;
}

.customSidebarDesign{
    // .ps-active{
    //     &::after{
    //         content: "";
    //         background-color: aliceblue;
    //         border-radius: 10px;
    //         width: 90%;
    //     }
    // }
}