.customCard {
    border: 1px solid #00BEF2;
    border-radius: 34px;
    padding: 50px;


    &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

    }

    .card-body {
        padding: unset;

        .nav-item {
            .nav-link {
                border-bottom: unset;
                color: black;
            }
        }

        .nav-tabs,
        .nav-link.active {
            border-color: inherit;
            color: #00BEF2;
            background-color: white;

        }
    }

    &.card-width {
        width: 550px;
    }
}